footer{
    color: white;
    .foot-top{
        background-color: black;
        padding: 7em 0;
        text-align: center;
    }
    .foot-bottom{
        background-color: $footer-bg;
        padding: 2em 0;
        text-align: center;
    }
}