header{
    text-align: center;
    .top{
        background-color: $blue_color;
    }
    .bottom{
        padding: 2em 0;
    }
    .banner{
        height: 400px;
        background-image: url('../images/jumbotron.jpg');
    }
}