header{
    text-align: center;
    .top{
        background-color: $blue_color;
    }
    .bottom{
        line-height: 100px;
        .active{
            color: $blue_color;
            border-bottom: 5px solid $blue_color;
        }
        ul{
            display: flex;
            justify-content: center;
            list-style: none;
            li{
                margin-right: 2em;
            }
        }
    }
    .banner{
        height: 400px;
        background-image: url('../images/jumbotron.jpg');
    }
}