main{
    background-color: black;
    color: white;
    .content{
        width: 70%;
        margin: 0 auto;
        .top{
            display: flex;
            flex-wrap: wrap;
            padding: 4em 0 6em;
            .card{
                width: calc(100% / 6);
                margin-bottom: 2em;
                text-transform: uppercase;
            }
        }
    }
    .center{
        text-align: center;
        padding: 2em 0;
        background-color: $blue-color;
    }

}